.text-3 {
  font-size: calc(10px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #707070;
}

.buttons {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #626262;
  font-size: calc(5px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
}

.buttons:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.selection {
  color: #626262;
  font-size: calc(5px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.search-button {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #ffffff;
  font-size: calc(3px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
}

.search-button:focus {
  background: transparent linear-gradient(0deg, #e76b9f 0%, #7439b8 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.import {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #ffffff;
  font-size: calc(3px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
}

.import:focus {
  background: transparent linear-gradient(0deg, #e76b9f 0%, #7439b8 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.inp {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 10px;
  font-size: calc(5px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #376baa;
}

.drop {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #e6ecf0;
  border-radius: 15px;
  color: #376baa;
  font-size: calc(4px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.or {
  margin-top: 2vmax !important;
}

.row-two,
.row-three {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  margin: 1vmax !important;
  padding: 1vmax !important;
}

.cards {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000003b;
  border-radius: 5px;
  height: max-content;
}

.row-head {
  font-size: calc(1vmax + 1vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #c0c0c0;
  background: transparent;
  border: none;
}

.row-foot {
  font-size: calc(8px + 1vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #343434;
  background: transparent;
  border: none;
  text-transform: capitalize;
}

.cards {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.cards .description {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.cards .description::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.cards:hover .description {
  visibility: visible;
}