.QD {
  font-size: calc(10px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #707070;
}

.buttons {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  font-size: calc(3px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.buttons:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.selection {
  color: #626262;
  font-size: calc(5px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.search-button {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #ffffff;
  font-size: calc(3px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
}

.search-button:focus {
  background: transparent linear-gradient(0deg, #e76b9f 0%, #7439b8 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.import {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #ffffff;
  font-size: calc(3px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
}

.import:focus {
  background: transparent linear-gradient(0deg, #e76b9f 0%, #7439b8 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.inp {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 10px;
  font-size: calc(5px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #376baa;
}

.drop {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #e6ecf0;
  border-radius: 15px;
  color: #376baa;
  font-size: calc(4px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.or {
  margin-top: 2vmax !important;
}

.row-two {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  margin: 1vmax !important;
  padding: 1vmax !important;
}

.row-three {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  margin: 1vmax !important;
  padding: 1vmax !important;
}

.ques-num {
  font-size: calc(4px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
}

.ques-name {
  font-size: calc(3px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  color: #112234;
}

.ques-choice {
  font-size: calc(2px + 1vmax);
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  color: #112234;
}

.ques-opt {
  font-size: calc(2px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  color: #112234;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #f3f4f7;
  border-radius: 50%;
}

.ques-ans {
  font-size: calc(2px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  color: #34a853;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #34a853;
  border-radius: 50%;
}

.content {
  padding-top: 80px !important;
  margin-left: 300px;
}

.no-margin {
  margin-left: 0px !important;
}

@media screen and (max-width: 800px) {
  .content {
    padding-top: 50px !important;
  }
}
