.row-1 {
  background: transparent
    linear-gradient(180deg, #f7f7f7 0%, #f7f7f7 38%, #ffffff 100%) 0% 0%
    no-repeat padding-box;
  padding: 30px;
}

.row-1-1-text {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fd7f2c;
  margin-top: 40px;
}

.row-1-2 {
  margin-top: 90px;
}

.text-1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b3b6b8;
  border-radius: 5px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
}

.heading-2 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.text-2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b3b6b8;
  border-radius: 5px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
}

.button-3 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
  color: #15202b;
  width: fit-content;
}

.button-3:hover {
  color: #65717e;
  background: #effbff;
}

.button-3:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  color: #929ead;
  border-radius: 50%;
  outline: none;
}

.row-2 {
  margin-top: 20px;
  margin-bottom: 90px;
}

.row-3 {
  background-color: #ffffff;
  width: 100%;
  bottom: 0;
  position: fixed;
  z-index: 5;
}

.heading-3 {
  color: #626262;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.back-photo {
  width: 210px;
  height: 180px;
}

.row-3-heading {
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.row-3-text {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.row-3-text:hover {
  color: #7f7f7f;
}

.row-3-text:active {
  color: #9e9e9e;
}

a:hover {
  text-decoration: none;
}

.deadline {
  background: transparent linear-gradient(132deg, #cb2d3e 0%, #ef473a 100%) 0%
    0% no-repeat padding-box;
  border-radius: 10px;
  height: 100%;
  padding: 15px;
}

.prime {
  background: transparent linear-gradient(132deg, #2375d3 0%, #3ba9fe 100%) 0%
    0% no-repeat padding-box;
  border-radius: 10px;
  height: 100%;
  padding: 15px;
}

.complete {
  background: transparent linear-gradient(132deg, #1d976c 0%, #9dd138 100%) 0%
    0% no-repeat padding-box;
  border-radius: 10px;
  height: 100%;
  padding: 15px;
}

.title {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.summary {
  text-align: left;
  font-size: 9px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.deadline .progress {
  margin-top: 5px;
  background: #f84f4c 0% 0% no-repeat padding-box;
  border-radius: 0px;
  height: 10px;
}

.deadline .progress-bar {
  background: #ffffff 0% 0% no-repeat padding-box;
}

.prime .progress {
  margin-top: 5px;
  background: #56a2f9 0% 0% no-repeat padding-box;
  border-radius: 0px;
  height: 10px;
}

.prime .progress-bar {
  background: #ffffff 0% 0% no-repeat padding-box;
}

.complete .progress {
  margin-top: 5px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 0px;
  height: 10px;
}

.complete .progress-bar {
  background: #ffffff 0% 0% no-repeat padding-box;
}

.moti {
  text-align: left;
  font-size: 9px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.time-left-value {
  text-align: center;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.time-left-unit {
  text-align: center;
  font-size: 6px;
  color: #ffffff;
}

.time-left-value-1 {
  text-align: center;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.time-left-unit-1 {
  text-align: center;
  font-size: 6px;
  color: #ffffff;
}

.note {
  text-align: left;
  font-size: 15px;
  color: #ffffff;
  margin-right: 40px;
}

.progress-text {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.past-cards {
  background: transparent
    linear-gradient(124deg, #f5f8fa 0%, #eff3f6 75%, #e6ecf0 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 10px;
  height: 100%;
}

.past-cards .title-complete {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #1d976c;
}

.past-cards .title-prime {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #2375d3;
}

.past-cards .title-deadline {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #cb2d3e;
}

.past-cards .summary {
  color: #626262;
}

.past-cards .moti {
  color: #626262;
}

.past-cards .progress {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 0px;
}

.past-cards .progress-text {
  color: #626262;
}

.past-cards .progress-bar {
  background: #37b970 0% 0% no-repeat padding-box;
  border-radius: 2px;
}

.button-2 {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #ffffff;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.button-2:focus {
  background: transparent linear-gradient(0deg, #e76b9f 0%, #7439b8 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

@media screen and (max-width: 1000px) {
  .back-photo {
    display: none;
  }

  .row-1-1-text {
    margin-top: 20px;
  }

  .row-1-2 {
    margin-top: 20px;
  }
}
