* {
  margin: 0;
  padding: 0;
}

.first {
  border-bottom: 1px solid #e3e0f3;
}

img {
  cursor: pointer;
}

.subject-name {
  font-size: calc(12px + 2vmin);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #fd7f2c;
  text-transform: uppercase;
}

.img {
  float: right;
  height: 30px;
  width: 30px;
}

.img1 {
  float: right;
  height: 20px;
  width: 20px;
}

.time-left {
  font-size: calc(10px + 1vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.assignment-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: calc(12px + 1vmin);
  color: #15202b;
}

.instruction,
.posted,
.due {
  font-size: calc(10px + 1vmin);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.instruct,
.posted-on,
.due-date {
  font-size: calc(10px + 1vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}
.plus {
  font-size: calc(6px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
  color: #cbcdcf;
  width: fit-content;
}

.plus:hover {
  color: #8a8d8f;
  background: #effbff;
}

.plus:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  font-weight: 100;
  color: #bec1c3;
  font-size: calc(7px + 2vmin);
  border-radius: 50%;
  outline: none;
}

a:hover {
  text-decoration: none;
}

.assign-cards {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000003b;
  border-radius: 5px;
  height: 100%;
}

.assign-row-head {
  font-size: calc(4px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #c0c0c0;
  background: transparent;
  border: none;
}

.assign-row-foot {
  font-size: calc(3px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #343434;
  background: transparent;
  border: none;
}

.time {
  float: right;
  font-size: calc(2px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #aeaeae;
}

.test {
  background: transparent linear-gradient(56deg, #f792ab 0%, #fce584 100%) 0% 0%
    no-repeat padding-box;
}

.test .assign-row-head {
  font-size: calc(4px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.test .assign-row-foot {
  font-size: calc(3px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #343434;
  text-align: right;
}

.chapter {
  font-size: calc(8px + 2vmin);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #5484ed;
}

.selection {
  font-size: calc(7px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.drop {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b3b6b8;
  border-radius: 5px;
  font-size: calc(5px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
}

.cards {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000003b;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  height: 100%;
}

.cards:hover {
  cursor: pointer;
}

.row-head {
  font-size: calc(5px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #c0c0c0;
  background: transparent;
  border: none;
}

.row-foot {
  font-size: calc(4px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #343434;
  background: transparent;
  border: none;
}
.ques-num {
  font-size: calc(4px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
}

.ques-name {
  font-size: calc(3px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  color: #112234;
}

.cards .description {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: calc(4px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  z-index: 1;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.cards .description::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.cards:hover .description {
  visibility: visible;
}

.checkbox {
  float: right;
}

.import {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  font-family: "Poppins", sans-serif;
  font-size: calc(11px + 1vmin);
  color: #ffffff;
}

.import:focus {
  background: transparent linear-gradient(0deg, #e76b9f 0%, #7439b8 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.buttons {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #626262;
  font-size: calc(7px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
}

.buttons:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}