* {
  margin: 0;
  padding: 0;
}

.row-1 {
  border-bottom: 1px solid #e3e0f3;
}

.heading-1 {
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #fd7f2c;
  text-transform: uppercase;
}

.heading-2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #15202b;
}

.heading-3 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.heading-4 {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
  font-weight: bold;
}

.text-1 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.text-2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b3b6b8;
  border-radius: 5px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
}

.text-3 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  color: #626262;
}

.mar {
  margin-top: 26px;
}

.button-3 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
  color: #15202b;
  width: fit-content;
}

.button-3:hover {
  color: #65717e;
  background: #effbff;
}

.button-3:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  color: #929ead;
  border-radius: 50%;
  outline: none;
}

.button-4 {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #15202b;
  width: fit-content;
}

.button-4:hover {
  color: #65717e;
}

.button-4:focus {
  box-shadow: 0px 0px 0px #00000029;
  color: #929ead;
  outline: none;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.assign-cards {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000003b;
  height: 100%;
}

.assign-row-head {
  background: transparent;
  border: none;
}

.assign-row-foot {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background: transparent;
  border: none;
  font-weight: bold;
}

.text-left {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
}

.time {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #606060;
}

.test {
  background: transparent linear-gradient(56deg, #f792ab 0%, #fce584 100%) 0% 0%
    no-repeat padding-box;
}

.test-text-left {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.test .assign-row-head {
  color: #ffffff;
}

.test .assign-row-foot {
  color: #343434;
}

.chapter {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #5484ed;
}

.cards {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000003b;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.cards:hover {
  cursor: pointer;
}

.row-head {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #376baa;
}

.row-foot {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background: transparent;
  border: none;
  font-weight: bold;
}

.ques-name {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #112234;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:focus {
  color: inherit;
}

.img {
  height: 140px;
}

.button-1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #626262;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.button-1:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.button-2 {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #ffffff;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.button-2:focus {
  background: transparent linear-gradient(0deg, #e76b9f 0%, #7439b8 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.new-noti {
  position: absolute;
  top: -25px;
  right: -9px;
  width: 50px;
  height: 50px;
}
