.part-2-1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  width: 100%;
}

.cn {
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
}

.num {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #707070;
}

.chap-name {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #707070;
}

.chap-row {
  height: 100%;
}

.heading-1 {
  color: #707070;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.button-1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #626262;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.button-1:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.row-2 {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  margin: 0px 3px;
  padding: 10px;
}

.row-4 {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  margin: 10px;
}

.heading-2 {
  color: #626262;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.text-1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #e6ecf0;
  border-radius: 15px;
  color: #376baa;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.button-2 {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #ffffff;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.button-2:focus {
  background: transparent linear-gradient(0deg, #e76b9f 0%, #7439b8 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.part-1,
.part-2 {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  border: 1px solid #dbdbdb;
  border-radius: 0px 10px 10px 10px;
  height: max-content;
  margin: 10px 16px;
}

th {
  position: sticky;
  top: 0;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #707070;
}

tr:hover {
  cursor: pointer;
}

td {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #707070;
}

.table {
  position: relative;
  table-layout: auto;
  width: 100% !important;
}

.contain {
  width: 100%;
  min-height: max-content;
  max-height: 550px;
  overflow-x: auto;
  overflow-y: auto;
}

.or {
  margin-top: 25px;
}

.content {
  padding-top: 80px !important;
  margin-left: 300px;
}

.no-margin {
  margin-left: 0px !important;
}

@media screen and (max-width: 800px) {
  .content {
    padding-top: 50px !important;
  }
}
