.content {
  padding-top: 8vmin !important;
  margin-left: 250px;
}

.no-margin{
  margin-left: 0px !important;
}

@media screen and (max-width: 800px) {
  .content {
    padding-top: 10vmin !important;
  }
}
