#wrapper{
  max-width: 100% !important;
}

#content {
  width: 100%;
  margin-left: 5% !important;
  height: max-content !important;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding-top: 70px !important;
}

@media screen and (max-width:800px){
    #content{
        margin-left: 7% !important;
        padding-top: 25px !important;
    }
}
