.content{
  overflow-x: hidden;
}

.row-11,
.row-12 {
  padding: 10px;
  border-bottom: 1px solid #e6ecf0;
}

.row-131 {
  background: #fdfdfd 0% 0% no-repeat padding-box;
  border: 1px solid #e6ecf0;
}

.row-132 {
  padding: 10px;
  min-height: 200px;
}

.row-14 {
  padding-left: 20px;
}

.row-5 {
  margin-left: 40px;
}

.text-1 {
  color: #15202b;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.text-2 {
  color: #888888;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.text-3 {
  font-size: 20px;
  color: #15202b;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.text-4 {
  color: #15202b;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.text-5 {
  color: #15202b;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
}

.text-6 {
  color: #15202b;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-7 {
  color: #2680eb;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 15px;
}

.text-8 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #2680eb;
  font-weight: bold;
}

.text-8:hover {
  cursor: pointer;
  text-decoration: underline;
}

.text-9 {
  margin-top: 2px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-10 {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #2680eb;
}

.badge-1 {
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border: 1px solid #e6ecf0;
  border-radius: 10px;
  color: #626262;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  padding: 10px;
  font-weight: normal;
  min-width: 50px;
  cursor: pointer;
}

.badge-1-active {
  background-color: #626262;
  color: #f1f1f1;
}

.badge-2 {
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border: 1px solid #e6ecf0;
  border-radius: 10px;
  color: #15202b;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  padding: 10px;
  font-weight: normal;
}

.image-1 {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid #707070;
}

.image-2 {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  border: 1px solid #707070;
}

.image-3 {
  max-width: 800px;
  max-height: 400px;
}

.image-4 {
  max-width: 700px;
  max-height: 350px;
}

.image-5 {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid #707070;
  margin-right: 10px;
}

.btn-1:focus {
  outline: none;
  box-shadow: 0px 0px 0px #15202b;
}

.btn-2 {
  background-color: #f7f7f7;
  font-size: 16px;
  color: #15202b;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  border-radius: 100px;
}

.btn-2:focus {
  outline: none;
  box-shadow: 0px 0px 0px #15202b;
}

.btn-3 {
  border-radius: 0px;
  margin: 10px;
}

.btn-4 {
  font-size: 20px;
}

.btn-4:hover {
  color: #2680eb;
}

.btn-4:focus {
  box-shadow: 0px 0px 0px #15202b;
  outline: none;
}

.btn-5 {
  font-size: 15px;
}

.btn-5:focus {
  box-shadow: 0px 0px 0px #15202b;
  outline: none;
}

.btn-6 {
  font-size: 15px;
  font-weight: bold;
  background-color: #2680eb !important;
  color: #ffffff !important;
  border-radius: 0px;
}

.btn-6:focus {
  box-shadow: 0px 0px 0px #15202b;
  outline: none;
}

.btn-7 {
  font-size: 15px;
  color: #376BAA !important; 
  font-family: Arial, Helvetica, sans-serif;
}

.btn-7:focus{
  box-shadow: 0px 0px 0px #15202b;
  outline: none;
}

.btn-7:hover{
  text-decoration: underline;
}

.box-1 {
  min-height: 150px;
}

.row-4 {
  border-bottom: 3px solid #e6ecf0;
  cursor: pointer;
}

.form-control {
  border-radius: 0px;
}

.form-control:focus {
  box-shadow: 0px 0px 0px #15202b;
  outline: none;
}

@media screen and (max-width: 1200px) {
  .image-3 {
    max-width: 800;
    max-height: 400px;
  }

  .image-4 {
    max-width: 700px;
    max-height: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .image-3 {
    max-width: 700px;
    max-height: 350px;
  }

  .image-4 {
    max-width: 600px;
    max-height: 300px;
  }
}

@media screen and (max-width: 800px) {
  .image-3 {
    max-width: 600px;
    max-height: 300px;
  }

  .image-4 {
    max-width: 500px;
    max-height: 250px;
  }
}

@media screen and (max-width: 600px) {
  .image-3 {
    max-width: 500px;
    max-height: 250px;
  }

  .image-4 {
    max-width: 400px;
    max-height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .image-3 {
    max-width: 400px;
    max-height: 200px;
  }

  .image-4 {
    max-width: 300px;
    max-height: 150px;
  }
}
