.text-1 {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  color: #707070;
  font-weight: bold;
}

.row-2 {
  background-color: #f5f8fa;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  padding: 20px !important;
  margin: 10px 0px !important;
}

.row-2-1,
.row-2-2 {
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  margin: 10px 0px !important;
  height: fit-content;
}

.text-2 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
  border-bottom: 2px solid #f5f8fa;
  padding: 10px 20px;
}

.row-2-1-1 {
  border-bottom: 2px solid #f5f8fa;
  padding: 10px 20px;
}

.text-3 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #707070;
}

.text-4 {
  padding: 10px;
}

.text-5 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #707070;
}

.text-6 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #707070;
}

.text-8,
.text-7 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #e6ecf0;
  border-radius: 15px;
  color: #376baa;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px !important;
}

.text-8:focus,
.text-7:focus {
  outline: none;
  box-shadow: 0px 0px 0px #00000029;
}

.button-1 {
  border-radius: 10px;
  background: linear-gradient(180deg, #e76b9f, #7439b8);
  float: right;
  margin: 10px;
  border: none;
  box-shadow: 0px 3px 6px #00000029;
  font-size: 18px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.button-1:focus {
  background: linear-gradient(0deg, #e76b9f, #7439b8);
  box-shadow: 0px 0px 0px #00000029;
  color: #ffffff;
}

.heading-2 {
  color: #626262;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.row-4 {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  margin: 10px;
}

.btn:focus{
  outline: none;
  box-shadow: 0px 0px 0px #00000029;
}

.content {
  padding-top: 80px !important;
  margin-left: 250px;
}

.no-margin {
  margin-left: 0px !important;
}

@media screen and (max-width: 800px) {
  .content {
    padding-top: 50px !important;
  }
}
