.content {
  margin-left: 0 !important;
}

.button-1 {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #15202b;
  width: fit-content;
}

.button-1:hover {
  color: #65717e;
}

.button-1:focus {
  box-shadow: 0px 0px 0px #00000029;
  color: #929ead;
  outline: none;
}

.button-2 {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  color: #ffffff;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.button-2:focus {
  background: transparent linear-gradient(0deg, #e76b9f 0%, #7439b8 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}
.text-1 {
  border: 1px solid #b3b6b8;
  border-radius: 5px;
  color: #376baa;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  padding: 5px;
}

.text-2 {
  color: #282828;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.text-3-1 {
  color: #383838;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #e3e0f3;
  padding: 10px;
}

.text-3-2 {
  color: #112234;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-3-3 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.5px solid #b3b6b8;
  border-radius: 5px;
  color: #376BAA;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-3-4 {
    color: #112234;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
  }

.row-1 {
  border-bottom: 1px solid #e3e0f3;
}

.row-2 {
  padding: 10px;
}

.row-2-1 {
  background: #757575 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  padding: 10px;
  position: absolute;
  height: 80%;
  width: 60vw;
  overflow-y: auto;
}

.row-2-2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  position: absolute;
  height: 80%;
  width: 35vw;
  margin-left: 62vw;
  overflow-y: auto;
}

@media screen and (max-width: 767.5px) {
  .row-2-1 {
    width: 80vw;
  }

  .row-2-2 {
    margin-left: 85vw;
    width: 55vw;
  }
}

@media screen and (max-width: 575.5px) {
  .row-2-1 {
    width: 100vw;
  }

  .row-2-2 {
    margin-left: 110vw;
    width: 75vw;
  }
}
