.header {
  position: fixed;
  top: 0;
  background: #f5f8fa 0% 0% no-repeat padding-box;
  width: 100%;
  z-index: 1000;
}

.iclass {
  text-align: left;
  font-weight: bold;
  font-size: calc(2vmin + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  color: #15202b;
  margin-top: calc(5px + 1vmin) !important;
}

.header-icons {
  height: 30px;
  width: 30px;
  margin-top: 3%;
}

.header-icons:hover {
  cursor: pointer;
}

.header-navigation-icon {
  display: none;
}

.header-icons-label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(10px);
  color: #888888;
}

.header-icons-label:hover {
  cursor: pointer;
}

.header-search {
  margin-top: calc(1px + 1vmin) !important;
  margin-bottom: calc(1px + 1vmin) !important;
}

.search-iclass {
  padding: calc(1px + 1vmin) !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(7px + 1vmin) !important;
  color: #888888;
  border-radius: 10px !important;
}

.dropdown-item:hover {
  background-color: #dfdfdf;
}

.dropdown-item:active {
  background-color: #aeaeae;
  color: #15202b;
}

.fas {
  padding: 5%;
  border-radius: 50%;
  background-color: #dfdfdf;
}

@media screen and (max-width: 800px) {
  .header-icons-label {
    display: none !important;
  }
  .header-icons {
    height: 20px !important;
    width: 20px !important;
    margin-bottom: 10% !important;
  }
  .iclass {
    display: none;
  }

  .header-search {
    display: none;
  }
  .header-navigation-icon {
    display: block;
  }
}
