* {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    background: #f5f8fa 0% 0% no-repeat padding-box;
    width: 100%;
    z-index: 1000;
}

.iclass {
    text-align: left;
    font-weight: bold;
    font-size: calc(2vmin + 1vmax);
    font-family: Arial, Helvetica, sans-serif;
    color: #15202b;
    margin-top: calc(5px + 1vmin) !important;
}

.header-icons {
    height: 30px !important;
    width: 30px !important;
    margin-top: 3% !important;
    opacity: 1 !important;
}

.header-icons:hover {
    cursor: pointer;
}

.header-icons-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(10px);
    letter-spacing: 0px;
    color: #888888;
}

.header-icons-label:hover {
    cursor: pointer;
}

.header-search {
    margin-top: calc(1px + 1vmin) !important;
    margin-bottom: calc(1px + 1vmin) !important;
}

.search-iclass {
    padding: calc(1px + 1vmin) !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(7px + 1vmin) !important;
    color: #888888;
    border-radius: 10px !important;
}

@media screen and (max-width: 480px) {
    .header-icons-label {
        display: none !important;
    }
    .header-icons {
        height: 20px !important;
        width: 20px !important;
    }
}