.row-1 {
  background: transparent
    linear-gradient(180deg, #f7f7f7 0%, #f7f7f7 38%, #ffffff 100%) 0% 0%
    no-repeat padding-box;
  padding: 15px;
}

.row-1-1-1 {
  margin-top: 40px;
}

.row-1-1-2 {
  margin-top: 90px;
}

.row-1-2 {
  margin-left: 20px;
}

.back-photo {
  width: 210px;
  height: 180px;
}

.heading-1 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fd7f2c;
}

.heading-2 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.text-1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b3b6b8;
  border-radius: 5px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
}

.text-2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b3b6b8;
  border-radius: 5px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
}

.button-1 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
  color: #15202b;
  width: fit-content;
}

.button-1:hover {
  color: #65717e;
  background: #effbff;
}

.button-1:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  color: #929ead;
  outline: none;
}

.button-2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #626262;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.button-2:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.button-3 {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #ffffff;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.button-3:focus {
  background: transparent linear-gradient(0deg, #e76b9f 0%, #7439b8 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.img {
  height: 140px;
}

a:hover {
  text-decoration: none;
}

.homework-cards {
  background: transparent
    linear-gradient(124deg, #f5f8fa 0%, #eff3f6 75%, #e6ecf0 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.summary {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
  margin-bottom: 10px;
}

.progress {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 0%;
  height: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.progress-bar {
  background: #37b970 0% 0% no-repeat padding-box;
}

.progress-text {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
  text-transform: uppercase;
}

.moti {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.cards {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000003b;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.cards:hover {
  cursor: pointer;
}

.row-head {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #376baa;
}

.row-foot {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background: transparent;
  border: none;
  font-weight: bold;
}

.ques-name {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #112234;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:focus {
  color: inherit;
}

.img {
  height: 140px;
}

.button-4 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #626262;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.button-4:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}


@media screen and (max-width: 1000px) {
  .back-photo {
    display: none;
  }

  .row-1-1-1 {
    margin-top: 20px;
  }

  .row-1-1-2 {
    margin-top: 20px;
  }

  .row-1-2 {
    margin-left: 5px;
  }
}
