.first {
  background: transparent
    linear-gradient(180deg, #f7f7f7 0%, #f7f7f7 38%, #ffffff 100%) 0% 0%
    no-repeat padding-box;
  margin-bottom: 5%;
}

.first-text {
  font-size: calc(4px + 4vmin);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fd7f2c;
}

.first-class-plus {
  margin-top: 5%;
}

.drop {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b3b6b8;
  border-radius: 5px;
  font-size: calc(5px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
}

.plus {
  font-size: calc(6px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
  color: #cbcdcf;
  width: fit-content;
}

.plus:hover {
  color: #8a8d8f;
  background: #effbff;
}

.plus:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  font-weight: 100;
  color: #bec1c3;
  font-size: calc(7px + 2vmin);
  border-radius: 50%;
  outline: none;
}

.first-one {
  margin-top: 2%;
  margin-left: 5%;
}

.date {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #e6ecf0;
  border-radius: 5px;
  font-size: calc(7px + 1vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #b3b6b8;
}

a:hover {
  text-decoration: none;
}

.homework-cards {
  background: transparent
    linear-gradient(124deg, #f5f8fa 0%, #eff3f6 75%, #e6ecf0 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 10px;
}

.title {
  font-size: calc(10px + 1vmin);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
  text-transform: uppercase;
}

.summary {
  font-size: calc(8px + 1vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.progress {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 0%;
}

.progress-bar {
  background: #37b970 0% 0% no-repeat padding-box;
}

.progress-text {
  font-size: calc(6px + 1vmin);
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
  text-transform: uppercase;
}

.moti {
  font-size: calc(7px + 1vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.selection {
  font-size: calc(7px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.selection {
  font-size: calc(8px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.cards {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000003b;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  height: 100%;
}

.cards:hover {
  cursor: pointer;
}

.row-head {
  font-size: calc(5px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #c0c0c0;
  background: transparent;
  border: none;
}

.row-foot {
  font-size: calc(4px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #343434;
  background: transparent;
  border: none;
}

.ques-name {
  font-size: calc(3px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  color: #112234;
}

.cards .description {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: calc(4px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  z-index: 1;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.cards .description::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.cards:hover .description {
  visibility: visible;
}

.import {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  font-family: "Poppins", sans-serif;
  font-size: calc(11px + 1vmin);
  color: #ffffff;
}

.import:focus {
  background: transparent linear-gradient(0deg, #e76b9f 0%, #7439b8 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.buttons {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #626262;
  font-size: calc(7px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
}

.buttons:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

@media screen and (max-width: 1000px) {
  .first .image {
    display: none;
  }

  .first-one {
    margin-top: 2%;
  }
}

@media screen and (min-width: 800px) {
  .one {
    margin-top: 70px;
  }
}
