.content {
  background: url("/static/Images/leaderboard/leader.png");
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
}

.row-1-5 {
  margin-top: 70px;
  padding-left: 100px;
}

.text-1 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #376baa;
}

.text-2 {
  text-transform: uppercase;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fd7f2c;
}

.progress {
  margin-top: 100px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  height: 33px;
  width: 168px;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  border-radius: 3px;
  box-shadow: 0px 3px 6px #00000029;
}

.progress-bar {
  background: transparent linear-gradient(90deg, #41d5dd 0%, #5484ed 100%) 0% 0%
    no-repeat padding-box;
}

.progress-text {
  transform: rotate(90deg);
  color: #376baa;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 0 !important;
  top: 0;
}

.role-1 {
  color: #376baa;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 66px;
  margin-top: 70px;
}

.role-2 {
  color: #376baa;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 56px;
  margin-top: 70px;
}

.role-3 {
  color: #376baa;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 66px;
  margin-top: 70px;
}

.role-4 {
  color: #376baa;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 59px;
  margin-top: 70px;
}

.row-1-2,
.row-1-3,
.row-1-4 {
  margin-left: -80px;
}

th {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #376baa !important;
}

tr:hover {
  cursor: pointer;
}

.table {
  position: relative;
  table-layout: auto;
  width: 100% !important;
  background-color: #ffffff;
  /* border:1px solid #707070; */
}

.row-1-1 {
  margin-left: 50px;
}

.contain {
  background-color: #ffffff;
  margin-top: 40px;
  width: 85%;
  min-height: max-content;
  max-height: 50vh;
  overflow-x: auto;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.thead {
  border-radius: 0%;
  color: #376baa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

td {
  white-space: nowrap;
}

.final {
  color: #f05e23;
}

.text-3 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.text-4 {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
}

.text-5 {
  color: #626262;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}

.contain::-webkit-scrollbar {
  width: 5px;
}

.contain::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.contain::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #eeeeee;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

td {
  border-bottom: 1px solid #b3b6b8 !important;
}

.button-1 {
  font-size: 16px;
  color: #b3b6b8;
  display: none;
}

.button-2 {
  border-radius: 10px;
  background-color: #ffffff;
  color: #376baa;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #48b4e3;
}

.button-2-active {
  border-radius: 10px;
  background: transparent linear-gradient(90deg, #41d5dd 0%, #5484ed 100%) 0% 0%
    no-repeat padding-box;
  color: #ffffff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #48b4e3;
}

.button-2:focus {
  box-shadow: 0px 0px 0px #00000029;
  outline: none;
}

.btn-group {
  margin-left: 110px;
}

@media screen and (max-width: 1000px) {
  .row-1-7 {
    display: none;
  }

  .contain {
    width: 100%;
    max-height: 65vh;
  }

  * {
    margin: 0 !important;
    padding: 0 !important;
  }

  .content {
    padding-top: 50px !important;
  }

  .button-2 {
    padding: 5px !important;
    margin-bottom: 15px !important;
  }

  .row-1-5 {
    padding-left: 30px !important;
  }

  th,
  td {
    padding: 3px !important;
  }
}

@media screen and (max-width: 1250px) {
  .row-1-5 {
    margin-top: 70px;
    padding-left: 50px;
  }
  .row-1-1 {
    margin-left: 0px;
  }
  .row-1-2,
  .row-1-3,
  .row-1-4 {
    margin-left: -100px;
  }
}

@media screen and (max-width: 600px) {
  .row-1-5 {
    margin-top: 30px !important;
    padding-left: 20px !important;
  }
  .btn-group {
    margin-left: 40px !important;
  }
}

@media screen and (max-width: 400px) {
  .row-1-5 {
    margin-top: 10px !important;
    padding-left: 10px !important;
  }

  .btn-group {
    margin-left: 10px !important;
  }

  .text-1 {
    font-size: 20px;
  }

  .text-2 {
    font-size: 40px;
  }
}
