* {
  margin: 0;
  padding: 0;
}

.leftside {
  border-right: 3px solid #f5f8fa;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding-top: 70px !important;
  position: fixed;
  width: 250px;
  z-index: 10;
}

.name {
  font-weight: bold;
  font-size: calc(15px + 1vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #15202b;
}

.view-profile {
  padding: calc(1px + 1vmin) !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  font-weight: 700;
  font-size: calc(10px + 1vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #f05e23 !important;
}

.view-profile:hover {
  box-shadow: none;
  background: #f5f8fa;
}

li {
  display: block;
}

.leftside-menu-icon {
  margin-left: 10px !important;
  font-size: calc(5px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #15202b;
  display: inline-block;
}

.leftside-menu-text {
  margin-left: 10px !important;
  font-size: calc(5px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #15202b;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .leftside {
    padding-top: 50px !important;
  }
}
