* {
  margin: 0;
  padding: 0;
}

.selection {
  font-size: calc(7px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.drop {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b3b6b8;
  border-radius: 5px;
  font-size: calc(5px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
}

.subject {
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border: 1px solid #e6ecf0;
  border-radius: 10px;
  color: #626262;
  font-size: calc(5px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.subject.active {
  background: #f05e23 0% 0% no-repeat padding-box;
  border: 1px solid #e6ecf0;
  border-radius: 10px;
  font-size: calc(5px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.back {
  background: transparent
    linear-gradient(180deg, #f7f7f7 0%, #f7f7f7 38%, #ffffff 100%) 0% 0%
    no-repeat padding-box;
}

.back-text {
  font-size: calc(4px + 4vmin);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fd7f2c;
}

.chapter {
  font-size: calc(10px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #5484ed;
}

.plus {
  font-size: calc(6px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
  color: #cbcdcf;
  width: fit-content;
}

.plus:hover {
  color: #8a8d8f;
  background: #effbff;
}

.plus:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  font-weight: 100;
  color: #bec1c3;
  font-size: calc(7px + 2vmin);
  border-radius: 50%;
  outline: none;
}

a:hover {
  text-decoration: none;
}

.lessons-cards {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000003b;
  border-radius: 5px;
  height: 100%;
}

.lessons-row-head {
  font-size: calc(4px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #c0c0c0;
  background: transparent;
  border: none;
}

.lessons-row-foot {
  font-size: calc(3px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #343434;
  background: transparent;
  border: none;
}

.time {
  font-size: calc(2px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #aeaeae;
}

.test {
  background: transparent linear-gradient(56deg, #f792ab 0%, #fce584 100%) 0% 0%
    no-repeat padding-box;
}

.test .lessons-row-head {
  font-size: calc(4px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.test .lessons-row-foot {
  font-size: calc(3px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #343434;
  text-align: right;
}

.lessons-cards-empty {
  background: #f8f8f8 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000003b;
  border-radius: 5px;
  height: 100%;
  min-height: 140px;
  max-height: 100%;
}

.row-body-text {
  font-size: calc(6px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #f05e23;
}

.hide{
  display: none;
}

.cards {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000003b;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block;
}

.cards:hover {
  cursor: pointer;
}

.cards .description {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: calc(4px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  z-index: 1;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.cards .description::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.cards:hover .description {
  visibility: visible;
}

.row-head {
  font-size: calc(5px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #c0c0c0;
  background: transparent;
  border: none;
}

.row-foot {
  font-size: calc(4px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #343434;
  background: transparent;
  border: none;
}

.ques-name {
  font-size: calc(3px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  color: #112234;
}

.import {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  font-family: "Poppins", sans-serif;
  font-size: calc(11px + 1vmin);
  color: #ffffff;
}

.import:focus {
  background: transparent linear-gradient(0deg, #e76b9f 0%, #7439b8 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.buttons {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #626262;
  font-size: calc(7px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
}

.buttons:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

@media screen and (max-width: 600px) {
  .back-photo {
    display: none;
  }
}
