* {
  margin: 0;
  padding: 0;
}

.heading-1 {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.text-1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b3b6b8;
  border-radius: 5px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
}

.heading-2 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.text-2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b3b6b8;
  border-radius: 5px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
}

.mar {
  margin-top: 27px;
}

.subject {
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border: 1px solid #e6ecf0;
  border-radius: 10px;
  color: #626262;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  margin: 3px;
}

.subject.active {
  background: #f05e23 0% 0% no-repeat padding-box;
  border: 1px solid #e6ecf0;
  border-radius: 10px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.back {
  background: transparent
    linear-gradient(180deg, #f7f7f7 0%, #f7f7f7 38%, #ffffff 100%) 0% 0%
    no-repeat padding-box;
}

.back-text {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fd7f2c;
  margin-top: 40px;
}

.back-photo {
  width: 210px;
  height: 180px;
}

.chapter {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #5484ed;
}

.edit-add {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
  color: #15202b;
  width: fit-content;
}

.edit-add:hover {
  color: #65717e;
  background: #effbff;
}

.edit-add:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  color: #929ead;
  border-radius: 50%;
  outline: none;
}

a:hover {
  text-decoration: none;
}

.lessons-cards {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  height: 100%;
}

.new-noti {
  position: absolute;
  top: -25px;
  right: -9px;
  width: 50px;
  height: 50px;
}

.lesson-noti {
  position: absolute;
  margin-top: -25px;
  margin-left: -12px;
  width: 40px;
  height: 40px;
}

.lessons-row-head {
  background: transparent;
  border: none;
}

.text-left {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #376baa;
}

.time {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #606060;
}

.lessons-row-foot {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background: transparent;
  border: none;
  font-weight: bold;
}

.test {
  background: transparent linear-gradient(56deg, #f792ab 0%, #fce584 100%) 0% 0%
    no-repeat padding-box;
  height: 100%;
}

.test-text-left {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.test .lessons-row-head {
  color: #ffffff;
}

.test .lessons-row-foot {
  color: #343434;
}

.lessons-cards-empty {
  background: #fdfdfd 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000003b;
  border-radius: 0px;
  min-height: 190px;
}

.row-body-text {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #f05e23;
}

.cards {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000003b;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.cards:hover {
  cursor: pointer;
}

.row-head {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #376baa;
}

.row-foot {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  background: transparent;
  border: none;
  font-weight: bold;
}

.ques-name {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #112234;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:focus {
  color: inherit;
}

.img {
  height: 140px;
}

.button-1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #626262;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.button-1:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.button-2 {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #ffffff;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.button-2:focus {
  background: transparent linear-gradient(0deg, #e76b9f 0%, #7439b8 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

@media screen and (max-width: 800px) {
  .back-photo {
    display: none;
  }
  .back-text {
    margin-top: 10px !important;
    font-size: 30px;
  }

  .edit-add {
    font-size: 17px;
  }
}
