@font-face {
  src: url("/static/fonts/HelveticaNeue.ttf");
  font-family: Neue;
}

@font-face {
  src: url("/static/fonts/Helvetica-Neu-Bold.ttf");
  font-family: NeueBold;
}

@font-face {
  src: url("/static/fonts/HelveticaNeue-Medium.ttf");
  font-family: NeueMedium;
}

* {
  margin: 0;
  padding: 0;
}

.select-subject {
  font-size: calc(8px + 2vmin);
  font-family: NeueBold;
  color: #626262;
}

.select-class {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b3b6b8;
  border-radius: 5px;
  font-size: calc(8px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
}

.subject.active {
  background: #f05e23 0% 0% no-repeat padding-box;
  border: 1px solid #e6ecf0;
  border-radius: 10px;
  font-size: calc(8px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.subject {
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border: 1px solid #e6ecf0;
  border-radius: 10px;
  color: #626262;
  font-size: calc(8px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
}

.chapter {
  font-size: calc(1vmax + 2vmin);
  font-family: NeueMedium;
  color: #5484ed;
}

.checkbox {
  float: right;
}

.cards {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000003b;
  border-radius: 5px;
  height: max-content;
}

.row-head {
  font-size: calc(1vmax + 1vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #c0c0c0;
  background: transparent;
  border: none;
}

.row-foot {
  font-size: calc(1vmax + 1vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #343434;
  background: transparent;
  border: none;
}

.time {
  float: right;
  font-size: 1vmax;
  font-family: Arial, Helvetica, sans-serif;
  color: #aeaeae;
}

.test {
  background: transparent linear-gradient(56deg, #f792ab 0%, #fce584 100%) 0% 0%
    no-repeat padding-box;
}

.test .row-head {
  font-size: calc(1vmax + 1vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.test .row-foot {
  font-size: calc(1vmax + 1vmin);
  font-family: Arial, Helvetica, sans-serif;
  color: #343434;
  text-align: right;
}

.flexing {
  float: right;
}

.back {
  background: transparent
    linear-gradient(180deg, #f7f7f7 0%, #f7f7f7 38%, #ffffff 100%) 0% 0%
    no-repeat padding-box;
}

.back-text {
  font-size: calc(2vmax + 1vmin);
  font-family: NeueBold;
  color: #fd7f2c;
}

.plus {
  font-size: calc(15px + 1vmin);
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
  color: #cbcdcf;
  width: fit-content;
}

.selection {
  font-size: calc(1vmax + 1vmin);
  font-family: NeueMedium;
  color: #626262;
}

.drop {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.5px solid #b3b6b8;
  border-radius: 5px;
  font-size: calc(12px + 1vmin);
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
}

.import {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  font-family: "Poppins", sans-serif;
  font-size: calc(11px + 1vmin);
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}

.plus:hover {
  color: #8a8d8f;
  background: #effbff;
}

.plus:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  font-weight: 100;
  color: #bec1c3;
  font-size: 25px;
  border-radius: 50%;
  outline: none;
}

@media screen and (max-width: 600px) {
  .back-photo {
    display: none;
  }
}
