* {
  margin: 0;
  padding: 0;
}

.row-1-1 {
  background: transparent
    linear-gradient(180deg, #f7f7f7 0%, #f7f7f7 38%, #ffffff 100%) 0% 0%
    no-repeat padding-box;
  padding-bottom: 20px;
}

.row-1-1-1 {
  padding-left: 20px;
}

.back-text {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fd7f2c;
  margin-top: 40px;
}

.back-photo {
  width: 210px;
  height: 180px;
}
.row-1-1-1-1 {
  padding-bottom: 20px;
}

.heading-1 {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
  font-weight: bold;
}

.heading-2 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.text-2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b3b6b8;
  border-radius: 5px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
}

.edit-add {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
  color: #15202b;
  width: fit-content;
}

.edit-add:hover {
  color: #65717e;
  background: #effbff;
}

.edit-add:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  color: #929ead;
  border-radius: 50%;
  outline: none;
}

a:hover {
  text-decoration: none;
}

.button-1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #626262;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.button-1:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.button-2 {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #ffffff;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.button-2:focus {
  background: transparent linear-gradient(0deg, #e76b9f 0%, #7439b8 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.cards {
  background: transparent linear-gradient(132deg, #2375d3 0%, #3ba9fe 100%) 0%
    0% no-repeat padding-box;
  border-radius: 10px;
  height: 100%;
}

.teacher-name {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff700;
  text-transform: capitalize;
  padding-bottom: 15px;
  padding-top: 8px;
}

.stream-name {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-bottom: 5px;
}

.stream-time {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-transform: capitalize;
  padding-bottom: 20px;
}

.stream-duration {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.stream-subject {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff700;
  text-transform: capitalize;
}

@media screen and (max-width: 1100px) {
  .back-photo {
    display: none;
  }

  .first-text {
    margin-top: 10px !important;
  }
}
