/* html,
body,
.content,
.container-fluid,
.row-1,
.box-1 {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
} */

.box-1 {
  border-right: 1.5px solid #e6ecf0;
  height: 90vh;
  overflow-y: auto;
}

.row-11 {
  height: max-content;
}

.row-12 {
  border: 1px solid #e6ecf0;
  cursor: pointer;
  padding: 5px;
  margin-right: 0px;
}

.row-12-active {
  border-right: 3px solid #f05e23;
}

.row-14 {
  min-height: 70vh;
  max-height: 70vh;
  overflow-y: auto;
}

.box-11,
.box-12,
.box-2 {
  border-bottom: 2.5px solid #e6ecf0;
  height: max-content;
}

.box-3 {
  max-height: 60vh;
  overflow-y: auto;
}

.box-4 {
  height: 90vh;
  overflow-y: auto;
}

.box-13,
.box-15 {
  min-height: 60vh;
  max-height: 60vh;
  overflow-y: auto;
}

.box-16 {
  text-align: right;
  margin-top: 20px;
}

.box-17 {
  background-color: #f8f8f8;
  padding: 5px;
}

.text-1 {
  color: #15202b;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.text-2 {
  color: #15202b;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.text-3 {
  color: #6a7b8a;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  text-transform: capitalize;
}

.text-4 {
  color: #6a7b8a;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

.text-5 {
  color: #15202b;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.text-6 {
  color: #15202b;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  padding: 2px;
}

.text-7 {
  color: #15202b;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 5px;
  padding-bottom: 1px;
}

.text-8 {
  color: #707070;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  padding-left: 20px;
}

.text-9 {
  color: #626262;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: 2.5px solid #e6ecf0;
}

.text-10 {
  color: #626262;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-11 {
  color: #626262;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-12 {
  color: #000000;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-13 {
  color: #626262;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 4px;
  margin-left: 4px;
}

.text-15 {
  color: #6a7b8a;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-weight: normal;
  text-transform: capitalize;
}

.input-1 {
  background-color: #f5f8fa !important;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

.input-1:focus {
  outline: none;
  box-shadow: 0px 0px 0px #000000;
}

.input-2 {
  margin-top: 4px;
  margin-right: 4px;
  margin-left: 4px;
}

.badge-1 {
  background-color: #e6ecf0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #15202b;
  cursor: pointer;
  margin: 5px;
}

.badge-1-active {
  background-color: #f05e23;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  cursor: pointer;
  margin: 5px;
}

.image-1 {
  border: 1px solid #707070;
  border-radius: 100px;
  height: 50px;
  max-width: 50px;
  margin-right: 5px;
}

.image-2 {
  border: 1px solid #707070;
  border-radius: 100px;
  height: 50px;
  max-width: 50px;
  margin-left: 5px;
}

.button-1 {
  background-color: #f5f8fa;
  font-size: 15px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  color: #b3b6b8;
}

.button-1:focus {
  outline: none;
  box-shadow: 0px 0px 0px #000000;
}

.btn-2 {
  border: 1px solid #e6ecf0;
  border-radius: 0px;
}

.btn-2-active {
  border-bottom: 2px solid #f05e23;
}

.btn-4 {
  background-color: #f05e23;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff !important;
  margin-bottom: 50px;
  box-shadow: 0px 3px 6px #000000;
  margin-top: 50px;
}

.text-head {
  color: #6a7b8a;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-sender {
  border: 1px solid #e6ecf0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #707070;
  padding: 5px;
  border-radius: 15px;
  word-wrap: break-word;
  padding-right: 10px;
  text-align: justify;
}

.text-receiver {
  background-color: #f5f8fa;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #707070;
  padding: 5px;
  border-radius: 15px;
  word-break: break-all;
  padding-left: 10px;
}

.text-timing {
  color: #6a7b8a;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

.text-message {
  background-color: #f5f8fa;
  border: none;
  color: #626262;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-message:focus {
  background-color: #f5f8fa;
  border: none;
  color: #626262;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  box-shadow: 0px 0px 0px #000000;
}

#message-textarea {
  height: max-content;
}
