.button-1 {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #15202b;
  width: fit-content;
}

.button-1:hover {
  color: #65717e;
}

.button-1:focus {
  box-shadow: 0px 0px 0px #00000029;
  color: #929ead;
  outline: none;
}

.text-1 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
  padding-top: 8px;
}

.button-2 {
  border: 1px solid #b3b6b8;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa !important;
  margin-top: 5px;
  margin-bottom: 10px;
}

.button-2:focus {
  box-shadow: 0px 0px 0px #00000029;
  outline: none;
}

.row-1 {
  border-bottom: 1px solid #e3e0f3;
}

.row-2 {
  padding: 10px;
}

.text-2 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #5484ed;
  margin: 10px 0px;
}

.row-2-1 {
  box-shadow: 0px 3px 6px #00000029;
  padding: 10px;
  height: 100%;
}

a:hover {
  text-decoration: none;
}

.row-2-1-draft {
  background-color: #ffdbdb;
}

.text-3 {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
  padding-top: 5px;
  padding-bottom: 5px;
}

.text-4 {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #376baa;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
}

.input-1 {
  box-shadow: 0px 3px 6px #00000029;
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-5 {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
}

.text-6 {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #376baa;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.text-7 {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
}

.text-8 {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #e40f0f;
  padding-top: 5px;
  padding-bottom: 5px;
}

.content {
  margin-left: 0 !important;
}

.del {
  position: absolute;
  right: -12px;
  top: -16px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50%;
  color: #15202b;
  width: fit-content;
}

.del:hover {
  color: #e40f0f;
}

.del:focus {
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.mtext-1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #707070;
}

.mbutton-1 {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  color: #ffffff;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  padding: 5px 30px;
  margin: 10px;
}

.mbutton-1:focus {
  background: transparent linear-gradient(0deg, #e76b9f 0%, #7439b8 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.mbutton-2 {
  border-radius: 0px;
  border: none;
  box-shadow: 0px 3px 6px #00000029;
  font-size: 16px;
  color: #15202b;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  padding: 5px 30px;
  background: transparent linear-gradient(180deg, #ced0d2 0%, #a1a3a5 100%) 0%
    0% no-repeat padding-box;
  margin: 10px;
}

.mbutton-2:focus {
  box-shadow: 0px 0px 0px #00000029;
  outline: none;
}

.mtext-3 {
  min-width: 200px;
}