.row-1 {
  background: transparent
    linear-gradient(180deg, #f7f7f7 0%, #f7f7f7 38%, #ffffff 100%) 0% 0%
    no-repeat padding-box;
    padding: 30px;
}

.heading-1 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fd7f2c;
  margin-top: 40px;
}

.heading-2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #15202b;
}

.back-photo {
  width: 210px;
  height: 180px;
}

.past-cards {
  background: transparent
    linear-gradient(124deg, #f5f8fa 0%, #eff3f6 75%, #e6ecf0 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 10px;
  height: 100%;
  padding: 15px;
}

.past-cards .title-complete {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #1d976c;
}

.past-cards .title-prime {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #2375d3;
}

.past-cards .title-deadline {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #cb2d3e;
}

.past-cards .summary {
  text-align: left;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.past-cards .moti {
  text-align: left;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
}

.past-cards .progress {
  margin-top: 5px;
  height: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 0px;
}

.past-cards .progress-text {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #626262;
}

.past-cards .progress-bar {
  background: #37b970 0% 0% no-repeat padding-box;
  border-radius: 2px;
}

@media screen and (max-width: 1000px) {
  .back-photo {
    display: none;
  }
  .heading-1 {
    padding: 0;
    margin: 0;
  }
}
