* {
  margin: 0 !important;
  padding: 0 !important;
}

.second-side {
  border-left: 3px solid #f5f8fa !important;
  padding-top: 70px !important;
  background-color: #fff;
  text-align: center;
}

.assign {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  border-radius: 10px;
  min-height: 100px;
  max-height: 100px;
}

.assignments {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: calc(4px + 2vmin);
  color: #626262;
  border-bottom: 2px solid #bec1c3;
}

.assignments-data {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(3px + 2vmin);
  color: #626262;
}

.resume {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  border-radius: 10px;
  min-height: 100px;
  max-height: 100px;
}

.resume-where-left {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: calc(4px + 2vmin);
  color: #626262;
  border-bottom: 2px solid #bec1c3;
}

.resume-where-left-data {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(3px + 2vmin);
  color: #626262;
}

.upcoming {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  border-radius: 10px;
  min-height: 100px;
  max-height: 100px;
}

.upcoming-activities {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: calc(4px + 2vmin);
  color: #626262;
  border-bottom: 2px solid #bec1c3;
}

.upcoming-activities-data {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(3px + 2vmin);
  color: #626262;
}

@media screen and (max-width:800px){
  .second-side{
    padding-top: 30px !important;
  }
}
