.student-details {
  color: #707070;
  font-size: calc(10px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.buttons {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #626262;
  font-size: calc(3px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.buttons:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.row-two,
.row-three {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  margin: 1vmax !important;
  padding: 1vmax !important;
}

.selection {
  color: #626262;
  font-size: calc(5px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.drop {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #e6ecf0;
  border-radius: 15px;
  color: #376baa;
  font-size: calc(4px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.search-button {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #ffffff;
  font-size: calc(3px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
}

.search-button:focus {
  background: transparent linear-gradient(0deg, #e76b9f 0%, #7439b8 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

th {
  position: sticky;
  top: 0;
  font-size: calc(5px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  color: #707070;
}

tr:hover {
  cursor: pointer;
}

td {
  font-size: calc(4px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #707070;
}

.table {
  position: relative;
  table-layout: auto;
  width: 100% !important;
}

.contain {
  width: 100%;
  min-height: max-content;
  max-height: 550px;
  overflow-x: auto;
  overflow-y: auto;
}

.inp {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 10px;
  font-size: calc(5px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #376baa;
}

.ansi {
  color: #707070;
  font-size: calc(2px + 2vmax);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.save {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #ffffff;
  font-size: calc(3px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
}

.save:focus {
  background: transparent linear-gradient(0deg, #e76b9f 0%, #7439b8 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.or {
  margin-top: 2vmax;
}

.import {
  background: transparent linear-gradient(180deg, #e76b9f 0%, #7439b8 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #ffffff;
  font-size: calc(3px + 1vmax);
  font-family: Arial, Helvetica, sans-serif;
}

.import:focus {
  background: transparent linear-gradient(0deg, #e76b9f 0%, #7439b8 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.content {
  padding-top: 80px !important;
  margin-left: 300px;
}

.no-margin {
  margin-left: 0px !important;
}

@media screen and (max-width: 800px) {
  .content {
    padding-top: 50px !important;
  }
}
