html,body,.content,.container-fluid{
  height: 100%;
  overflow-y: auto;
}

.content {
  margin-left: 0 !important;
}

.row-1 {
  border-bottom: 1px solid #e3e0f3;
}

.row-2 {
  border-left: 1px solid #e3e0f3;
  background: #F5F8FA 0% 0% no-repeat padding-box;
}

.row-3 {
  background: transparent linear-gradient(120deg, #5387ED 0%, #44CADF 100%) 0% 0% no-repeat padding-box;
  padding: 20px;
  margin: 10px;
}

.row-4 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  padding: 5px;
}

.row-5{
  height: 90%;
  overflow-y: auto;
}

.row-6{
  height: 100%;
  overflow-y: auto;
}

.button-1 {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #15202b;
  width: fit-content;
}

.button-1:hover {
  color: #65717e;
}

.button-1:focus {
  box-shadow: 0px 0px 0px #00000029;
  color: #929ead;
  outline: none;
}

.text-1 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
  padding-top: 8px;
}

.text-2 {
  color: #5387ED;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-top: 20px;
}

.text-3 {
  color: #767676;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
}

.text-4 {
  color: #ffffff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 5px
}

.text-5 {
  color: #ffffff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px
}

.text-6 {
  color: #ffffff;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 5px
}

.text-7 {
  color: #FFFFFF;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px
}

.text-8 {
  color: #FFC655;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px
}

.text-9 {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
}

.text-10 {
  color: #7C7C7C;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-11 {
  color: #767676;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-12 {
  color: #5387ED;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.text-passed {
  color: #06B200;
}

.text-failed {
  color: #F02323;
}

.button-2 {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #B3B6B8;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #376BAA;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.pro-1 {
  background: #F4F4F4 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 3px;
  height: 32px;
  margin-bottom: 10px;
}

.probar-1 {
  background: transparent linear-gradient(270deg, #5484ED 0%, #41D5DD 100%) 0% 0% no-repeat padding-box;
}

.pro-2 {
  background: #F4F4F4 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #E7E7E7;
  border-radius: 3px;
  height: 20px;
  margin-bottom: 10px;
}

.probar-2 {
  background: transparent linear-gradient(270deg, #A46EFB 0%, #F794AA 100%) 0% 0% no-repeat padding-box;
}

.pro-3 {
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border-radius: 2px;
  margin: 7px 10px;
  height: 5px;
}

.probar-3 {
  background: #fd9346 0% 0% no-repeat padding-box;
}

.ltext-1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #d5d5d5;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  color: #112234;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

.ltext-2 {
  color: #112234;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.ltext-3 {
  color: #112234;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}