.first {
  border-bottom: 1px solid #e3e0f3;
}

.button-1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #626262;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.button-1:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.chart{
  width: 100%;
}

.lesson-name {
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #fd7f2c;
  text-transform: uppercase;
}

.back {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #15202b;
  width: fit-content;
}

.back:hover {
  color: #65717e;
}

.back:focus {
  box-shadow: 0px 0px 0px #00000029;
  color: #929ead;
  outline: none;
}

th {
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.tr {
  border-bottom: 0.5px solid #b3b6b8;
  border-radius: 0%;
}

tr:hover {
  cursor: pointer;
}

.table {
  position: relative;
  table-layout: auto;
  width: 100% !important;
}

.contain {
  width: 100%;
  min-height: max-content;
  max-height: 550px;
  overflow-x: auto;
  overflow-y: auto;
}

.thead {
  border-bottom: 1px solid #376baa !important;
  border-radius: 0%;
  color: #376baa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

td {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #626262;
  white-space: nowrap;
}

.done {
  background: #06a710 0% 0% no-repeat padding-box;
  border: 0.5px solid #b3b6b8;
  border-radius: 5px;
}

.done::before {
  content: "Done";
  color: #ffffff;
  font-size: 14px;
}

.pending {
  background: #d93636 0% 0% no-repeat padding-box;
  border: 0.5px solid #b3b6b8;
  border-radius: 5px;
}

.pending::before {
  content: "Pending";
  color: #ffffff;
  font-size: 14px;
}
