@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background: #f7f7f7 0% 0% no-repeat padding-box;
}

.mcq {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 4px 7px 12px #00000029;
}

.question-text {
  color: #c0c0c0;
}

.mcq-text {
  text-align: left;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0px;
  color: #112234;
}

.option-no {
  border-radius: 50%;
  border-style: solid;
  border-color: #c0c0c0;
}

.test-name {
  background: #ffffff 0% 0% no-repeat padding-box;
}

.option:hover {
  background-color: lightgray;
  cursor: pointer;
}

.subtn {
  background: #ed4c2c 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}
