body {
  background-color: #1f1f1f;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #eeeeee;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.header {
  background-color: #1f1f1f !important;
  border-bottom: 1px solid #fcfcfc;
}

.header-icon {
  color: #fcfcfc !important;
  font-size: 23px !important;
}

.header-icon:hover {
  color: #cfcfcf !important;
}

.header-name {
  color: #fcfcfc !important;
  font-size: 23px !important;
}

.content {
  margin-left: 0px !important;
}

.back {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fcfcfc;
}

.back:hover {
  color: #cfcfcf;
}

.back:focus {
  box-shadow: 0px 0px 0px #00000029;
  outline: none;
}

.send {
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  background: #fcfcfc 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #c4c4c4;
  border-radius: 50%;
  color: #5d5d5d;
}

.send:hover {
  color: #65717e;
  background: #effbff;
}

.send:focus {
  box-shadow: 0px 0px 0px #c4c4c4;
  color: #929ead;
  outline: none;
}

.heading-1 {
  font-size: 23px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #fd7f2c;
  text-transform: uppercase;
}

.heading-2 {
  color: #fcfcfc;
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

.heading-3 {
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fcfcfc;
  text-transform: capitalize;
}

.heading-4 {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fcfcfc;
  text-transform: capitalize;
}

.blue-buttons {
  background-color: #00acf1;
  border-radius: 5px;
  font-size: 15px;
  color: #fcfcfc;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

.mark {
  background-color: #00acf1;
  border-radius: 5px;
  font-size: 15px;
  color: #fcfcfc;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

.mark::before {
  content: "Mark as complete";
}

.marked {
  background-color: #008A5A;
  border-radius: 5px;
  font-size: 15px;
  color: #fcfcfc;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

.marked::before {
  content: "Marked as complete";
}

.part-1 {
  border-right: 2px solid #000000;
  height: 100vh;
  overflow-y: auto;
}

.row-7 {
  height: 80vh;
  overflow-y: auto;
}

.row-6 {
  border-bottom: 2px solid #000000;
}

textarea {
  resize: none;
  background-color: #3a3b3c !important;
  border-radius: 20px !important;
  border: none !important;
  color: #fcfcfc !important;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

textarea:focus {
  box-shadow: 0px 0px 0px white !important;
  outline: none !important;
}

textarea::placeholder {
  color: #9ea1a6 !important;
}

.area-1 {
  background-color: #3a3b3c !important;
  border-radius: 20px !important;
  border: none !important;
  color: #fcfcfc;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.text-1 {
  font-size: 13px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.text-3 {
  color: #cfcfcf !important;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}

.button-1 {
  color: #cfcfcf;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.button-1:hover {
  color: #eeeeee;
}

.button-1:focus {
  box-shadow: 0px 0px 0px wheat;
  outline: none;
}

.button-2 {
  color: #ffffff !important;
  font-size: 29px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.button-3 {
  background: #5E5E5E 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.button-3:focus {
  background: #f5f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: none;
}

.liked {
  color: #00acf1 !important;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.modal-content {
  background-color: #1f1f1f;
}

.heading-2 {
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.box-2 {
  margin-left: 30px;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.badge {
  color: #1f1f1f;
}

.dropdown-menu {
  background-color: #1f1f1f;
  border: 1px solid #454545;
}

.dropdown-item {
  color: #fcfcfc;
}

.dropdown-item:hover {
  background-color: inherit;
  color: #cfcfcf;
}

.edit {
  border-bottom: 1px solid #707070;
}

@media screen and (max-width: 991px) {
  body {
    overflow-y: auto;
  }
  .part-1 {
    border-bottom: 2px solid #000000;
    border-right: none;
    height: max-content;
  }
  .row-7 {
    height: max-content;
  }
}
